// Global branded styling. App specific styling should NOT go in this file
body {
  font-family: 'Open Sans', sans-serif;
  color: #484f59;
  background-color: #f7fcfe;
  .ui-progressbar{border-radius:0;height:7px;
    .ui-progressbar-value{background-color:#d92129;}
  }
}
.ui-container {
  max-width: 1280px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  &.vertical {
    align-items: center;
    justify-content: center;
    margin-left:25%;
    @media only screen and (max-width: 768px) {
      margin-left:5%

    }
  }
}
.ui-container-fluid {
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

