<h1 class="slide-title">Have you or your spouse served in the military?</h1>
<div class="ui-container text-center">
  <div class="btn-group">
    <button
      class="btn btn-slg ml-2"
      (click)="ui.routeGoTo('/purchase/bankruptcy', { isMilitary: 'yes' })"
    >
      <i class="pi pi-check icon check" style="font-size: 3em"></i>
      <span>Yes</span>
    </button>
    <button
      class="btn btn-slg"
      (click)="ui.routeGoTo('/purchase/bankruptcy', { isMilitary: 'no' })"
    >
      <i class="pi pi-times icon close" style="font-size: 3em"></i>
      <span>No</span>
    </button>
  </div>
</div>
