<h1 class="slide-title">Which type of home loan are you interested in?</h1>
<div class="ui-container text-center">
  <div class="btn-group">
    <button
      class="btn btn-slg ml-2"
      (click)="
        ui.routeGoTo('/purchase/property-type', { loanType: 'Purchase' })
      "
    >
      <img src="assets/icons/purchase.png" />
      <span>Purchase</span>
    </button>
    <button
      class="btn btn-slg"
      (click)="
        ui.routeGoTo('/refinance/property-type', { loanType: 'Refinance' })
      "
    >
      <img src="assets/icons/refinance.png" />
      <span>Refinance</span>
    </button>
  </div>
</div>
