// @import '../../../../styles/globals/variables';

:host {
  color: #fff;
  a {
    color: #fff;
    display: flex;
    &:hover {
      text-decoration: none;
    }
    .fa {
      font-size: 2rem;
    }
  }
}
