<h1 class="slide-title">Do you currently have a VA loan?</h1>
<div class="ui-container text-center">
  <div class="btn-group">
    <button
      class="btn btn-slg ml-2"
      (click)="ui.routeGoTo('/refinance/bankruptcy', {Loan: 'Yes' })"
    >
      <i class="pi pi-check icon check"></i>
      <span>Yes</span>
    </button>
    <button
      class="btn btn-slg"
      (click)="ui.routeGoTo('/refinance/bankruptcy', {Loan: 'No' })"
    >
      <i class="pi pi-times icon close"></i>
      <span>No</span>
    </button>
  </div>
</div>
